<%- include ('./partials/header') %> 

<center><h1><b>List of Available Mangas!</h1></b></center>
<br>
<center>
    <% allChaps.forEach((chap,i)=>{%>

            <h3><a href="/mangas/<%= chap.name%>/<%=chap.id%>"><%= chap.title%></a></h3>
<%})%>
</center>

<%- include('./partials/footer') %> 