<%- include ('./partials/header') %> 

<center><h1><b>List of Available Chapters!</h1></b></center>
<br>
<center>
    <% allChaps.forEach((chap,i)=>{%>
            <% let id = allChaps.length-1-i;%>
            <h3><a href="/mangas/read/<%= mangaName%>/<%=i%>"><%= chap.chapterTitle%></a></h3>
            <h5>&emsp; &emsp; &emsp; <%= chap.postedAt%></h5>
<%})%>
</center>

<%- include('./partials/footer') %> 