<%- include ('./partials/header') %> 

<center><h1><b><%=name%></b></h1></center>
<br>
<% images.forEach(function(image){%>
    <center><img  src="<%= image%>"></center>

    <%})%>
    <% if(number>1){%>
        <% var nextchap = (Number)(number)+1; var prevchap = (Number)(number)-1;} %>

    <a href="/mangas/read/<%=name%>/<%=prevchap%>">Previous</a>
    <a href="/mangas">Home</a>
    <a href="/mangas/read/<%=name%>/<%=nextchap%>">Next</a>

    <%- include('./partials/footer') %> 