<center><h1><%=name%></h1></center>
<% images.forEach(function(image){%>
    <center><img  src="<%= image%>"></center>

    <%})%>
    <% if(number>1){%>
        <% var nextchap = (Number)(number)+1; var prevchap = (Number)(number)-1;} %>

    <a href="/mangas/<%=name%>/<%=prevchap%>">Previous</a>
    <a href="/mangas">Home</a>
    <a href="/mangas/<%=name%>/<%=nextchap%>">Next</a>